.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.l-logo-container {
  display: flex;
}

.l-footer-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.l-footer-nav {
  display: flex;
  flex-direction: column;
}

.l-card {
  margin-bottom: 50px;
}

.l-card-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.l-picto-footer {
  filter: invert(100%);
  width: 300px;
  position: absolute;
  right: 50px;
  clip-path: inset(0 0 35% 0);
}

.l-footer-mail {
  font-size: 12px;
  font-family: Roboto Mono, serif;
}
